[submodule "plugins/kiutils"]
	path = plugins/kiutils
	url = https://github.com/Steffen-W/kiutils.git
[submodule "plugins/easyeda2kicad"]
	path = plugins/easyeda2kicad
	url = https://github.com/Steffen-W/easyeda2kicad.py.git
